<table class="table table-striped table-sortable">
    <thead>
        <tr>
            <th>
                Reference
            </th>

            <th>
                Name
            </th>

            <th>
                Site
            </th>

            <th>
                Create
            </th>

            <th>
                Action
            </th>
        </tr>
    </thead>

    <tbody>
        {{#each blocks as |b|}}
            {{block-index-table-row block=b  deleteBlock=(action 'deleteBlock')}}
        {{/each}}
    </tbody>
</table>